<header class="site-header">
  <div class="menu-btn">
    <span class="menu-btn__burger"></span>
  </div>

  <div class="header-div">
      <nav class="nav">
        <ul class="menu-nav">
            {% for item in site.data.navigation %}
              <li class="menu-nav__item">
                <a class="menu-nav__link" href="{{ item.link }}">{{ item.name }}</a>
            {% endfor %}
        </ul>
      </nav> 
    <div id='main-header'>
      
    </div>
  </div>
  
</header>