.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  background-color: #000000;
}

.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 15.625rem;
  width: 15.625rem;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: circleRotate 12.5s linear infinite;
          animation: circleRotate 12.5s linear infinite;
}

.loader .circle {
  position: absolute;
  height: 50%;
  width: 50%;
  left: 0;
  right: 0;
  top: 0px;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  margin: auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  border-radius: 31.25rem;
}

.loader .circle .wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: wrapperRotate 5s linear infinite;
          animation: wrapperRotate 5s linear infinite;
}

.loader .circle .wrapper span {
  height: 50%;
  width: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.loader .circle .wrapper span::before {
  content: '';
  position: absolute;
  height: 1.875rem;
  width: 1.875rem;
  left: 50%;
  -webkit-transform: translateX(-50%) rotateX(90deg);
          transform: translateX(-50%) rotateX(90deg);
  background-color: green;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  border-radius: 1.875rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
}

.loader .circle .wrapper span:nth-child(1) {
  -webkit-transform: rotate(36deg);
          transform: rotate(36deg);
}

.loader .circle .wrapper span:nth-child(1)::before {
  background-color: #ff9900;
  /* box-shadow: 0px 0px 52px rgba($color, 0.5),
              0px 0px 4px rgba($color, 0.5); */
}

.loader .circle .wrapper span:nth-child(2) {
  -webkit-transform: rotate(72deg);
          transform: rotate(72deg);
}

.loader .circle .wrapper span:nth-child(2)::before {
  background-color: #ccff00;
  /* box-shadow: 0px 0px 52px rgba($color, 0.5),
              0px 0px 4px rgba($color, 0.5); */
}

.loader .circle .wrapper span:nth-child(3) {
  -webkit-transform: rotate(108deg);
          transform: rotate(108deg);
}

.loader .circle .wrapper span:nth-child(3)::before {
  background-color: #33ff00;
  /* box-shadow: 0px 0px 52px rgba($color, 0.5),
              0px 0px 4px rgba($color, 0.5); */
}

.loader .circle .wrapper span:nth-child(4) {
  -webkit-transform: rotate(144deg);
          transform: rotate(144deg);
}

.loader .circle .wrapper span:nth-child(4)::before {
  background-color: #00ff66;
  /* box-shadow: 0px 0px 52px rgba($color, 0.5),
              0px 0px 4px rgba($color, 0.5); */
}

.loader .circle .wrapper span:nth-child(5) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.loader .circle .wrapper span:nth-child(5)::before {
  background-color: cyan;
  /* box-shadow: 0px 0px 52px rgba($color, 0.5),
              0px 0px 4px rgba($color, 0.5); */
}

.loader .circle .wrapper span:nth-child(6) {
  -webkit-transform: rotate(216deg);
          transform: rotate(216deg);
}

.loader .circle .wrapper span:nth-child(6)::before {
  background-color: #0066ff;
  /* box-shadow: 0px 0px 52px rgba($color, 0.5),
              0px 0px 4px rgba($color, 0.5); */
}

.loader .circle .wrapper span:nth-child(7) {
  -webkit-transform: rotate(252deg);
          transform: rotate(252deg);
}

.loader .circle .wrapper span:nth-child(7)::before {
  background-color: #3300ff;
  /* box-shadow: 0px 0px 52px rgba($color, 0.5),
              0px 0px 4px rgba($color, 0.5); */
}

.loader .circle .wrapper span:nth-child(8) {
  -webkit-transform: rotate(288deg);
          transform: rotate(288deg);
}

.loader .circle .wrapper span:nth-child(8)::before {
  background-color: #cc00ff;
  /* box-shadow: 0px 0px 52px rgba($color, 0.5),
              0px 0px 4px rgba($color, 0.5); */
}

.loader .circle .wrapper span:nth-child(9) {
  -webkit-transform: rotate(324deg);
          transform: rotate(324deg);
}

.loader .circle .wrapper span:nth-child(9)::before {
  background-color: #ff0099;
  /* box-shadow: 0px 0px 52px rgba($color, 0.5),
              0px 0px 4px rgba($color, 0.5); */
}

.loader .circle .wrapper span:nth-child(10) {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.loader .circle .wrapper span:nth-child(10)::before {
  background-color: red;
  /* box-shadow: 0px 0px 52px rgba($color, 0.5),
              0px 0px 4px rgba($color, 0.5); */
}

.loader .circle:nth-child(1) {
  -webkit-transform: rotate(18deg) translateY(-50px) rotateY(90deg);
          transform: rotate(18deg) translateY(-50px) rotateY(90deg);
}

.loader .circle:nth-child(2) {
  -webkit-transform: rotate(36deg) translateY(-50px) rotateY(90deg);
          transform: rotate(36deg) translateY(-50px) rotateY(90deg);
}

.loader .circle:nth-child(3) {
  -webkit-transform: rotate(54deg) translateY(-50px) rotateY(90deg);
          transform: rotate(54deg) translateY(-50px) rotateY(90deg);
}

.loader .circle:nth-child(4) {
  -webkit-transform: rotate(72deg) translateY(-50px) rotateY(90deg);
          transform: rotate(72deg) translateY(-50px) rotateY(90deg);
}

.loader .circle:nth-child(5) {
  -webkit-transform: rotate(90deg) translateY(-50px) rotateY(90deg);
          transform: rotate(90deg) translateY(-50px) rotateY(90deg);
}

.loader .circle:nth-child(6) {
  -webkit-transform: rotate(108deg) translateY(-50px) rotateY(90deg);
          transform: rotate(108deg) translateY(-50px) rotateY(90deg);
}

.loader .circle:nth-child(7) {
  -webkit-transform: rotate(126deg) translateY(-50px) rotateY(90deg);
          transform: rotate(126deg) translateY(-50px) rotateY(90deg);
}

.loader .circle:nth-child(8) {
  -webkit-transform: rotate(144deg) translateY(-50px) rotateY(90deg);
          transform: rotate(144deg) translateY(-50px) rotateY(90deg);
}

.loader .circle:nth-child(9) {
  -webkit-transform: rotate(162deg) translateY(-50px) rotateY(90deg);
          transform: rotate(162deg) translateY(-50px) rotateY(90deg);
}

.loader .circle:nth-child(10) {
  -webkit-transform: rotate(180deg) translateY(-50px) rotateY(90deg);
          transform: rotate(180deg) translateY(-50px) rotateY(90deg);
}

.loader .circle:nth-child(11) {
  -webkit-transform: rotate(198deg) translateY(-50px) rotateY(90deg);
          transform: rotate(198deg) translateY(-50px) rotateY(90deg);
}

.loader .circle:nth-child(12) {
  -webkit-transform: rotate(216deg) translateY(-50px) rotateY(90deg);
          transform: rotate(216deg) translateY(-50px) rotateY(90deg);
}

.loader .circle:nth-child(13) {
  -webkit-transform: rotate(234deg) translateY(-50px) rotateY(90deg);
          transform: rotate(234deg) translateY(-50px) rotateY(90deg);
}

.loader .circle:nth-child(14) {
  -webkit-transform: rotate(252deg) translateY(-50px) rotateY(90deg);
          transform: rotate(252deg) translateY(-50px) rotateY(90deg);
}

.loader .circle:nth-child(15) {
  -webkit-transform: rotate(270deg) translateY(-50px) rotateY(90deg);
          transform: rotate(270deg) translateY(-50px) rotateY(90deg);
}

.loader .circle:nth-child(16) {
  -webkit-transform: rotate(288deg) translateY(-50px) rotateY(90deg);
          transform: rotate(288deg) translateY(-50px) rotateY(90deg);
}

.loader .circle:nth-child(17) {
  -webkit-transform: rotate(306deg) translateY(-50px) rotateY(90deg);
          transform: rotate(306deg) translateY(-50px) rotateY(90deg);
}

.loader .circle:nth-child(18) {
  -webkit-transform: rotate(324deg) translateY(-50px) rotateY(90deg);
          transform: rotate(324deg) translateY(-50px) rotateY(90deg);
}

.loader .circle:nth-child(19) {
  -webkit-transform: rotate(342deg) translateY(-50px) rotateY(90deg);
          transform: rotate(342deg) translateY(-50px) rotateY(90deg);
}

.loader .circle:nth-child(20) {
  -webkit-transform: rotate(360deg) translateY(-50px) rotateY(90deg);
          transform: rotate(360deg) translateY(-50px) rotateY(90deg);
}

@-webkit-keyframes wrapperRotate {
  to {
    -webkit-transform: rotate(5turn);
            transform: rotate(5turn);
  }
}

@keyframes wrapperRotate {
  to {
    -webkit-transform: rotate(5turn);
            transform: rotate(5turn);
  }
}

@-webkit-keyframes circleRotate {
  to {
    -webkit-transform: rotateX(720deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(720deg) rotateY(360deg) rotateZ(360deg);
  }
}

@keyframes circleRotate {
  to {
    -webkit-transform: rotateX(720deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(720deg) rotateY(360deg) rotateZ(360deg);
  }
}
/*# sourceMappingURL=style.css.map */